@import "bourbon"
@import "sass/vars"
@import "sass/base"


body, html
  width: 100%
  height: 100%
  font-family: $default-font
  font-size: 1em
  margin: 0
  padding: 0

.hidden-desktop
  display: none
.logoStripe .body__logoStripe img
    width: 33%
.header
  transition: background 0.7s ease
  color: $alt_font_color
  overflow: hidden
  width: 100%
  background-image: url('img/header_bg.jpg')
  -webkit-background-size: cover
  background-size: cover
  background-position: 50% 50%
  position: relative
  z-index: 1
  .slick_C
    .item
      margin-left: 10px
      &:focus
        outline-color: transparent
  .slide__img
    position: absolute
    top: 0
    z-index: -1
    img
      width: 1000px
  span.colored
    color: #fcc508
  span.enhansed
      font-size: 1.3em
  .item__quote
      z-index: 100
      background-color: rgba(6, 12, 22, 0.82)
      padding: 1em
      width: 88%
      max-width: 400px

      img
        display: block
        float: left
        margin-right: 2em
        p
          font-family: 'Gotham', serif
          font-weight: lighter
          &.quote__text
            padding-top: 1.5em
            padding-bottom: 1.5em
  ul.slick-dots
    width: 200px
  .slick-dots li button:before
    border-radius: 50%
    border: 1px solid #fff
    background-color: transparent
    opacity: 1
    color: transparent
    width: 15px
    height: 15px


  .slick-dots li.slick-active button:before
    border: 1px solid #fff
    background-color: #fff
    opacity: 1
    color: transparent



  h1
    text-shadow: 0 5px 7px rgba(0, 0, 0, 0.89)
    font-weight: bold
    line-height: 1.2em
    z-index: 2
    font-family: 'Gotham Black', sans-serif
    font-size: 3em
    text-transform: uppercase
  h2
    text-align: center
    text-shadow: 1px 2px 2px rgba(0, 4, 2, 0.75)
    color: #ffba00
    font-size: 2.5em
    line-height: 1.3em
  form
      padding: 1em
      margin-bottom: 4em
      input, select
        padding: 5px
        border: none
        margin: 0
        height: 2.3em

        &:focus
          outline-color: #FFBA00
      select
        margin: 0.8em 0
        width: 100%
        color: #000402
      input[placeholder*="First"],input[placeholder*="Last"]
        width: 100%
        margin-bottom: 1em
        margin-right: 2px
      input[placeholder*="Email"],  input[placeholder*="Phone"]
        width: 100%

      input[type*="checkbox"]
        transform: scale(1.6)
        height: 1em
      .input_container
        position: relative
        width: 350px
        margin: 0 auto
        margin-top: 1em
        &:before
          content: ''
          display: block
          position: absolute
          width: 30px
          height: 30px
          background-image: url('img/blink.png')
          -webkit-background-size: cover
          background-size: cover
          z-index: 100
          right: -3%
          top: -15%
      input[placeholder*="Phone"]
        margin-top: 0.8em
        &:before
          content: 'a'
          width: 20px
          height: 20px
          border-right: 1px solid #EAEAEA

      input[type*="submit"]
        display: block
        width: 100%
        text-align: center
        height: 3em
        padding: 0 1em
        font-weight: bold
        font-size: 23px
        color: #000402
        border-radius: 7px
        position: relative
        background: #fceabb
        background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 33%, #f8b500 100%, #f9c94d 100%)
        background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 33%,#f8b500 100%,#f9c94d 100%)
        background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 33%,#f8b500 100%,#f9c94d 100%)
        transition: all 0.3s ease
        box-shadow: 0px 2px 0px 0px rgba(183, 96, 13, 1)
        &:focus
          outline-color: transparent
        &:hover
          background: #f8b500
          background: -moz-linear-gradient(top, #f8b500 0%, #fccd4d 64%, #fceabb 100%, #fceabb 100%, #fceabb 100%)
          background: -webkit-linear-gradient(top, #f8b500 0%,#fccd4d 64%,#fceabb 100%,#fceabb 100%,#fceabb 100%)
          background: linear-gradient(to bottom, #f8b500 0%,#fccd4d 64%,#fceabb 100%,#fceabb 100%,#fceabb 100%)



.body__section
  &--startTrading
    background-color: $alt_font_color
    h2
      text-align: center
      font-size: 3em
      span.enhansed
        font-size: 1.5em
    .col-sm-4
      text-align: center
      .col__img
        background-color: #fff
        box-shadow: -7px -3px 0px 0px rgba(53, 53, 53, 0.96)
        z-index: 5
        display: block
        margin: 0 auto
        border-radius: 50%
        border: 1px solid black
        width: 200px
        height: 200px
        position: relative
        &:after
          content: '1'
          color: #fff
          font-size: 40px
          padding: 14%
          line-height: 0.6em
          position: absolute
          bottom: 0%
          right: -10%
          border-radius: 50%
          background-color: #dc6411
          height: 72px
          width: 72px
        img
          display: block
          width: 50%
          margin: 20%
        &.row__col--secondCol


      h3
        margin-top: 40px
        margin-bottom: 20px
        text-align: center
        font-size: 1.31em
        text-transform: uppercase
        font-family: 'Gotham Medium', serif
        color: #dc6411
      p
        color: #032141
        font-size: 1.2em
        font-weight: normal
      &.row__col--secondCol
        .col__img
          &:after
            padding: 13%
            content: '2'
            background-color: #1a9ddb
          img
            margin: 26%
        h3
          margin-top: 40px
          margin-bottom: 20px
          color: #189bdb
      &.row__col--thirdCol
        .col__img
          &:after
            padding: 13%
            content: '3'
            background-color: #68a625
          img
            margin: 26%
        h3
          margin-top: 40px
          margin-bottom: 50px
          color: #68a625
  &--whyUs
    position: relative
    overflow: hidden
    padding-bottom: 150px
    background-image: url('img/whyus.jpg')
    background-size: cover
    background-position: 50% 0
    padding-top: 170px
    color: #fff
    text-align: center
    h2
      text-align: center
      font-size: 3em
      margin: 0 auto
      line-height:  1em
    .col__itemBox
      font-family: 'Gotham', serif
      font-weight: normal
      font-size: 18px
      .itemBox__wrapper
        width: 66%
        display: block
        float: left
        text-align: right
        h2
          font-family: 'Gotham', serif
          font-weight: normal
          text-transform: uppercase
          text-align: right
          font-size: 2em
      .itemBox__image
        border-radius: 50%
        border: 1px solid #fff
        display: block
        float: left
        margin-left: 20px
        height: 150px
        width: 150px
        position: relative
        transition: all 0.4s ease-in
        img
          padding: 15%
        &:after
          content: ''
          transition: all 0.3s ease-in
          border-radius: 50%
          border: 1px solid #fff
          width: 150px
          height: 150px
          top: -2%
          right: 2%
          position: absolute
        &:hover
          transform: scale(1.05)
          &:after
            content: ''
            transform: scale(1.1)
            transform: rotate(90deg)
            top: 2%
            bottom: 2%
            right: -2%
            left: 2%
            position: absolute
      &--rightSide
        .itemBox__wrapper
          float: right
          text-align: left
          h2
            text-align: left
        .itemBox__image
          margin-right: 20px
          margin-left: 0
          float: right
  &--skillsImprove
    text-align: center
    background-image: url(img/skills_bg.jpg)
    -webkit-background-size: cover
    background-size: cover
    h2
      font-size: 2.8em
      font-family: 'Gotham Medium', sans-serif
      font-weight:  normal
      line-height: 1.3em
      color: #68a625
    p
      margin-top: 40px
      text-align: center
    ul
      list-style: none
      text-align: left
      font-size: 2em
      font-family: 'Gotham'
      font-weight: normal
      margin-left: 20%
      li
        &:before
          content: ''
          margin-right: 30px
          display: block
          float: left
          width: 50px
          height: 50px
          background-image: url('img/icons/checkmark.png')
          background-repeat: no-repeat
          background-size: 70%
          background-position: 50% 50%
          box-shadow: 3px 4px 0px 0px rgba(0, 4, 2, 0.75)
          border-radius: 50%
  &--formSection
    background-image: url(img/form_2_bg.jpg)
    -webkit-background-size: cover
    background-size: cover
    h2
      text-align: center
      color: #ffba00
      font-family: 'Gotham Black', sans-serif
      font-size: 3em
      text-transform: uppercase
      text-shadow: 1px 2px 2px rgba(0, 4, 2, 0.75)
      line-height: 1.3em
    form
      margin: 1em 4em
      border-radius: 0.9em
      border: 1px solid #ffba00
      padding: 2em
      input, select
        padding: 5px
        border: none
        margin: 0
        height: 2.3em
        &:focus
          outline-color: #FFBA00
      input[placeholder*="First"],input[placeholder*="Last"]
        width: 25%
        margin-bottom: 1em
        margin-right: 2px
      input[placeholder*="Email"],  input[placeholder*="Phone"]
        width: 45%
      input[type*="checkbox"]
        height: 1em
        transform: scale(1.6)
      .input_container
        position: relative
        width: 400px
        margin: 0 auto
        margin-top: 2em
        &:before
          content: ''
          display: block
          position: absolute
          width: 30px
          height: 30px
          background-image: url('img/blink.png')
          -webkit-background-size: cover
          background-size: cover
          z-index: 100
          right: -3%
          top: -15%
        &:after
          transition: all 0.7s ease
          content: ''
          display: block
          position: absolute
          width: 0
          height: 100px
          background-image: url('img/arrow_form.png')
          -webkit-background-size: cover
          background-repeat: no-repeat
          background-size: 100%
          z-index: 100
          right: -30%
          top: -60%
      &:hover
        .input_container
          &:after
           width: 100px

      input[placeholder*="Phone"]
        &:before
          content: 'a'
          width: 20px
          height: 20px
          border-right: 1px solid #EAEAEA

      input[type*="submit"]
        display: block
        width: 100%
        text-align: center
        height: 3em
        padding: 0 2em
        font-weight: bold
        font-size: 23px
        border-radius: 7px
        position: relative
        background: #fceabb
        background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 33%, #f8b500 100%, #f9c94d 100%)
        background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 33%,#f8b500 100%,#f9c94d 100%)
        background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 33%,#f8b500 100%,#f9c94d 100%)
        transition: all 0.3s ease
        box-shadow: 0px 2px 0px 0px rgba(183, 96, 13, 1)
        &:focus
          outline-color: transparent
        &:hover
          background: #f8b500
          background: -moz-linear-gradient(top, #f8b500 0%, #fccd4d 64%, #fceabb 100%, #fceabb 100%, #fceabb 100%)
          background: -webkit-linear-gradient(top, #f8b500 0%,#fccd4d 64%,#fceabb 100%,#fceabb 100%,#fceabb 100%)
          background: linear-gradient(to bottom, #f8b500 0%,#fccd4d 64%,#fceabb 100%,#fceabb 100%,#fceabb 100%)


      select
        width: 51%
        margin-right: 2px
      label
        color: #fff
        margin-top: 1em
        display: block
        line-height: 1.2em
        &:hover
          cursor: pointer

  &--Tools
    padding-bottom: 70px
    background-image: url('img/tools_bg.jpg')
    -webkit-background-size: cover
    background-size: cover
    background-position: 50% 0
    position: relative
    .stroke
      position: absolute
      top: 0%
      bottom: 10%
      left: 0%
      right: 10%
      img
        width: 100%
    h2
      font-size: 3em
      font-family: "Gotham", sans-serif
      font-weight: lighter
      span.enchansed
        font-size: 1.15em
        font-family: "Gotham Medium", sans-serif
        &.red
          color: #7b0619
        &.blue
          color: #032141
    .Tools_container
      display: flex
      flex-wrap: wrap
      position: relative
      justify-content: center
      &__item
        text-align: center
        font-size: 18px
        width: 33%
        min-width: 250px;
        line-height: 1.6em
        margin-top: 60px
        .item__img
          border-radius: 50%
          border: 1px solid #68a625
          width: 200px
          height: 200px
          margin: 0 auto
          padding: 13%
          background-color: #fff
        .item__description
          h3
            text-transform: uppercase
            font-family: "Gotham Medium", sans-serif
            color: #68a625
            font-size: 21px
          p
            font-family: "Gotham Pro", sans-serif
            span.enchansed
              font-size: 21px
  &--AcceptProud
    padding-top: 50px
    padding-bottom: 50px
    text-align: center
    font-family: 'Gotham Pro Light', sans-serif
    h2
      font-size: 34px
    .hr
      background-image: url('img/hr.png')
      background-position: 50% 50%
      background-size: cover
      width: 100%
      height: 30px
    .logosContainer
      display: flex
      flex-wrap: wrap
      justify-content: center
      img
        margin: 0.3em
        width: 100%

    .awardsContainer
      display: flex
      flex-wrap: wrap
      justify-content: center
      img
        margin: 0.3em

form
  input, select
    box-shadow: 1px 1px 1px 0px rgba(0, 4, 2, 0.75) inset

.body__section--startTrading .col-sm-4.row__col--secondCol .col__img:before
        transition: all 0.7s ease
        content: ''
        display: block
        position: absolute
        width: 1%
        height: 100px
        background-image: url('img/arrow_left.png')
        -webkit-background-size: cover
        background-repeat: no-repeat
        background-size: 100%
        z-index: 100
        right: 100%
        top: 25%

.body__section--startTrading .col-sm-4.row__col--thirdCol .col__img:before
          transition: all 0.7s ease
          content: ''
          display: block
          position: absolute
          width: 1%
          height: 100px
          background-image: url('img/arrow_right.png')
          -webkit-background-size: cover
          background-repeat: no-repeat
          background-size: 100%
          z-index: 100
          right: 100%
          top: 25%
.body__section--startTrading .col-sm-4.row__col--secondCol .col__img.seen:before,
.body__section--startTrading .col-sm-4.row__col--thirdCol .col__img.seen:before
  width: 100%

.body__footer
  padding-top: 40px
  padding-bottom: 50px
  color: #a3a3a3
  background-color: #282828
  font-family: 'Gautami', sans-serif


